.post-full-content {
    font-size: 2rem;
    line-height: 1.4em;
}

h1 {
  font-size: 4rem;
}

.post-full-header {
  padding: 3vw 3vw 3vw;
}

.post-full-image {
    height: 550px;
    background: #c5d2d9 50%;
    background-size: cover;
    border-radius: 5px;
    margin: 0;
}